<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <div class="container d-flex justify-content-center mt-50 mb-50">    
        <div class="row">
            {{#if users}}
                {{#each users}}
                    <div class="col-md-4 mt-2 shadow-lg p-8 mb-4 bg-body rounded"> 
                        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions">
                                        <img src="{{photo}}" class="card-img img-fluid" width="96" height="350" alt="">       
                                </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2">
                                        <a href="#" class="text-default mb-2" data-abc="true">{{title}}</a>
                                    </h6>
                                    <a href="#" class="text-muted" data-abc="true">{{description}}</a>
                                </div>
                                <h3 class="mb-0 font-weight-semibold">${{price}}</h3>
                                <div>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                    <i class="fa fa-star star"></i>
                                </div>
                                <div class="text-muted mb-3">34 reviews</div>
                                <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                            </div>
                        </div>                 
                    </div> 
                {{/each}}
            {{else}}
                <h1>Hozirda kitoblar mavjud emas!</h1>
            
            {{/if}}
        </div>
    </div>